.profile__name {
    margin: 0;
    font-size: 2.625rem;
    line-height: 1.14;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

@media screen and (max-width: 507px) {
    .profile__name {
        position: relative;
        right: 22px;
    }
}

@media screen and (max-width: 360px) {
    .profile__name {
        max-width: 282px;
        font-size: 1.68rem;
        right: 18px;
    }
}